# Untracked files:
corpora/frWac_postag_no_phrase_700_skip_cut50.bin
corpora/lexsubfr_semdis2014_test.id_melt
corpora/thesaurus/thesaurus_french_A.txt
corpora/thesaurus/thesaurus_french_ADV.txt
corpora/thesaurus/thesaurus_french_N.txt
corpora/thesaurus/thesaurus_french_V.txt
